{% extends 'base/index2.html' %}






{% block content %}


<br>
<div class="container">


<div class="card">
  <div class="card-header ui-sortable-handle" style="cursor: move;">
  <h3 class="card-title">
  <i class="ion ion-clipboard mr-1"></i>
  <i class="fas fa-search"></i> Lstado de Categoria
  </h3>
 
  </div>
  
  <div class="card-body">
  <ul class="todo-list ui-sortable" data-widget="todo-list">
  <li>
  
    <form method="post"> 
        {% csrf_token %}


        {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                <strong>Error!!!</strong> Ha ocurrido un error al intentar guardar el registro
              
              
                <ul>
            {% for field in form %}

                {% for error in field.errors %}

                 
                  <li> <strong>{{error}}</strong></li>
              

                {% endfor %}

              {% endfor %}
              </ul>
            </div>
        {% endif %}





        <div class="form-group">
            {{ form }}
        </div>

        
       
      
  </li>
  
 
  
  </ul>
  <div class="card-footer clearfix">
    <button type="submit" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Add Categoria</button>
    </div>
  </div>
</form>

  
  </div>
</div>

<script>

function mensaje_error(data) {
  var html ='<ul>';
    $.each(data , function(key, value) {

      html += '<li>' + key + ':' + value + '</li>';

    
     console.log(key);
     console.log(value);


    })
    html += '</ul>';
     Swal.fire({
               title: 'Error!',
               html:html,
               icon: 'error',
          
             })
  
}

function error(data) {
console.log(data)
    var errores ="";
    console
            {% for field in form %}

                {% for error in field.errors %}
                
                errores += responseText;
              

                {% endfor %}

              {% endfor %}
              Swal.fire({
              title: 'Error!',
              text: errores,
              icon: 'error',
              confirmButtonText: 'Cool'
            })
        

  
}







            $('form').on('submit' , function(e){
              e.preventDefault();
              var  parametros = $(this).serializeArray();
             
         
             $.ajax({
                    url :'{% url 'LoteriaUrl:crear_jugadasUrl' %}',
                    type:'POST',
                    data: parametros,
                    dataType:'json'
                  }).done(function(data) {
                    if(!data.hasOwnProperty('error')){
                      alert('ok')
                    return false;
                    }else{

                      mensaje_error(data.error);

                    }
                    
                   
                  })
                  .fail(function(data) {
                    alert('fail');
                   
                    
                  })
                  .always(function() {
                    alert( "complete" );
                  });

              });




  
</script>

{% endblock %}