{% extends 'base/index2.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '/lb/bootstrap-5.2.0-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/lb/datatables/datatables.min.css' %}">
<link rel="stylesheet" href="{% static '/lb/datatables/DataTables-1.12.1/css/dataTables.bootstrap5.min.css' %}">



{% endblock %}






{% block content %}

<br>
<div class="container">

<br>
<div class="container">


<div class="card">
  <div class="card-header ui-sortable-handle" style="cursor: move;">
  <h3 class="card-title">
  <i class="ion ion-clipboard mr-1"></i>
  <i class="fas fa-search"></i> Venta sin procesar
  </h3>
 
  </div>
  
  <div class="card-body">
  <ul class="todo-list ui-sortable" data-widget="todo-list">
  <li>
  
    <table class="table" id="example" >
      <thead class="thead-dark">
        <tr>
          <th>codigo</th>
          <th>hora</th>
          <th>monto</th>
          <th>fecha</th>
          <th>accion</th>
        </tr>
      </thead>
      <tbody>
        {% for dato in object_list %}

          <tr>
            <td> {{dato.codigo_jugada}} </td>
            <td>{{dato.hora_jugada}}</td>
            <td>{{dato.monto_jugada}}</td>
            <td>{{dato.creado}}</td>
            <td>
              
              <a type="button"  class="btn btn-info"href="{% url 'LoteriaUrl:editar_jugadasUrl' dato.id %}"><i class="fas fa-edit"></i></a>
              <a type="button"  class="btn btn-danger"href="{% url 'LoteriaUrl:eliminar_jugadasUrl' dato.id %}"><i class="fas fa-trash-alt"></i></a>
              <button class="btn btn-success" onclick="detalle_venta('{% url 'LoteriaUrl:detalle_jugadasUrl' dato.id  %}')"><i class="fas fa-search"></i></button>
            </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
  </li>
  
 
  
  </ul>
  <div class="card-footer clearfix">

    <a href="{% url 'LoteriaUrl:crear_jugadasUrl' %}" class="btn btn-primary float-right"><i class="fas fa-plus"></i>Crear venta</a>
    
    
    <a href="#" onclick="envio_peticion()" class="small-box-footer">Actualizar tasa  <i class="fas fa-arrow-circle-right"></i></a>
</div>
  </div>
  
  
  </div>
</div>

<div class="modal fade" id="detalle_venta_modal" role="dialog"></div>
<div class="modal fade" id="divisa_modal" role="dialog"></div>

<script src="{% static '/lb/jquery-3.6.1.min.js' %}"></script>
<script src="{% static '/lb/bootstrap-5.2.0-dist/js/bootstrap.js' %}"></script>

<script src="{% static '/lb/datatables/datatables.min.js' %}"></script> 


<script>
  $(document).ready(function () {
    $('#example').DataTable();
});
</script> 


<script type="text/javascript">


  function detalle_venta (url){
    
    $('#detalle_venta_modal').load(url , function(){
  
        $(this).modal("show");
  
    })
  
  }
  </script>




<script type="text/javascript">


  function divisa_modal_function (url){
    
    $('#divisa_modal').load(url , function(){
  
        $(this).modal("show");
  
    })
  
  }
  </script>



<script type="text/javascript">

function positivo_creacion() {

Swal.fire({
position: 'center',
icon: 'success',
title: 'Se ha registrado correctamente su venta',
showConfirmButton: false,
timer: 2500
})

}

 function envio_peticion() {

    $.ajax({
      type: "POST",
      url: "http://127.0.0.1:8000/prueba/crear_venta/",
      data: {},
      processData: false,  // tell jQuery not to process the data
      contentType: false,
      success: function (r) {
        positivo_creacion()
      }
    });


     
 }
    </script>



    
    {% endblock %}

    
 

